version: '3.8'

services:
  crweb-backend-service:
    image: cr-web-backend:1.0.0
    restart: always  # Optional: configure restart policy
    env_file:
      - .env
    ports:
      - "7001:8080"  # Bind host port 7001 to container port 8080
    deploy:
      resources:
        limits:
          cpus: 2
          memory: 2g
